<div class= "row">
  <h1>The Bog Blog</h1>
  <h4><em>Keeping you informed on everything bog-related since 2016</em></h4>
</div>
<div class = "row">
  <ul>
  <% @creatures.each do |creature| %>
    <li><strong><%= link_to creature.name, creature_path(creature)%> ::</strong>
      <em><%= creature.description %></em></li>
  <% end %>
  </ul>
</div>
<div class = "row">
  <%= button_to "Create a new Creature", new_creature_path, method: "get", class: "btn btn-info"%> 
</div>
