<%= form_for @creature do |f| %>
  <div class = "row">
    <label for="name-form">Name</label>
    <%= f.text_field :name, class: "form-control", id: "name-form" %>
  </div>
  <br />
  <div class = "row">
    <label for="description-form">Description</label>
    <%= f.text_area :description, class: "form-control", id: "description-form" %>
  </div>
  <br />
  <div class = "row">
    <%= f.submit "Save Creature", class: "btn btn-success" %>
  </div>
<% end %>
