<div class = "row">
  <div class = "col-xs-offset-1">
    <h4><%= @creature.name %></h4>
    <p><em><%= @creature.description %></em></p>
    <hr />
  </div>
  <div class = "row">
    <div class = "col-xs-offset-1">
      <div class = "col-xs-2">
        <%= button_to "Edit", edit_creature_path(@creature), method: "get", class: "btn btn-warning" %>
      </div>
      <div class = "col-xs-2">
        <%= button_to "Delete", @creature, method: "delete", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
